@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --preto: #242423;
    --claro: #EE5076;
    --branco: #fafafa;
    --margem: 12vw;
    font-family: "Montserrat";
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    background-color: var(--preto);
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}
