#sobre {
    box-sizing: border-box;
    /* height: 100vh; */
    background-color: var(--claro);
    margin-top: 10vh;
    /* margin: var(--margem); */
}

#titulo {
    color: var(--preto);
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    padding-top: 8vh;
    font-family: 'Montserrat', sans-serif;
}